<div class="block">
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.user.username", :default => t("activerecord.labels.username", :default => "Username")) %>:</b>
          <%= @user.username %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b>
          <%= @user.email %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.user.language", :default => t("activerecord.labels.language", :default => "Language")) %>:</b>
          <%= @user.language %>
        </p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>