<%= form_for(@groups_user) do |f| %>
  <% if @groups_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groups_user.errors.count, "error") %> prohibited this groups_user from being saved:</h2>

      <ul>
      <% @groups_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :is_group_admin %><br />
    <%= f.check_box :is_group_admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
