<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @groups_user.group_id %>
</p>

<p>
  <b>User:</b>
  <%= @groups_user.user_id %>
</p>

<p>
  <b>Is group admin:</b>
  <%= @groups_user.is_group_admin %>
</p>


<%= link_to 'Edit', edit_groups_user_path(@groups_user) %> |
<%= link_to 'Back', groups_users_path %>
