<%= javascript_include_tag "jquery.jec-1.3.1" %>

<script>
  $(function() {
    $('#category_name').jec();
    $('#category_name').val( '<%= @category_name %>' ).attr('selected',true);
  });
</script>

<div class="group">
  <%= f.label :name, t("activerecord.attributes.place.name", :default => "Name"), :class => :label %>
  <%= f.text_field :name, :class => 'text_field' %>
</div>

<div class="group">
  <%= f.label :name, t("activerecord.attributes.place.name"), :class => :label %>
  <%= f.text_field :name, :class => 'text_field' %>
</div>

<div class="group">
  <%= label :category, :name, t("activerecord.attributes.place.category_id"), :class => :label %>
  <%= collection_select(:category, :name, Category.all_sorted, :name, :name) %><br />
  <span class="description">You may write in a category if the one you are looking for doesn't exist</span>
</div>

<div class="group">
  <%= f.label :is_catered, t("activerecord.attributes.place.is_catered", :default => "Caterer"), :class => :label %>
  <%= f.check_box :is_catered, :class => 'check_box' %>
   <span class="description">Does the place provide catered meals?</span>
</div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), places_path, :class => "text_button_padding link_button" %>
</div>