<!DOCTYPE html>
<html>
<head>
  <title><%= t('.site_title') %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'reset' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
